 <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-item">
	<h1>
	  {{title}}
	</h1>
  </div>
</nav>
<section class="section">
    <div class="container">
	  <div class="columns">
		  <div class="column is-two-thirds">
			<products [products]="products" 
				(onSelected)="onSelect($event)"
				(onDeleted)="onDelete($event)">
			</products>
		  </div>
		  <div class="column">
			<product-details [product]="selectedProduct"
				(onSaved)="onSave($event)">
		</product-details>
		  </div>
    </div>
	</div>
  </section>

