<div (click)="onSelect()" class="product-list-item">
    <div class="columns">
        <div class="column auto">
            <img src="/assets/product.jpg" alt="product image" /> 
        </div>
        <div class="column is-two-thirds">
                <div class="badge">{{product.id}}</div>
                <div>{{product.name}}</div>
        </div>
        <div class="column auto button-column">
            <button class="button is-danger"
             (click)="onDelete()">Delete</button>
        </div>
    </div>
</div>