<div class="columns">
        <div class="column is-two-thirds">
            <button class="button"
             (click)="onAdd()">Add</button>
        </div>
        <div class="column">
        </div>
</div>
<ul class="product-list">
    <li *ngFor="let product of products" >
        <product-list-item 
            [product]="product"
            [class.selected]="product === selectedProducts"
            (onSelected)="onSelect($event)"
            (onDeleted)="onDelete($event)">
        </product-list-item>
    </li>
</ul>