<div class="container" *ngIf="product!= null">
    <h1>Hero Form - {{product.name}}</h1>
    <img src="/assets/product.jpg" alt="product image" /> 
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
                <input class="input"
                    name="name" 
                    type="text"
                    placeholder="Product Name"
                    [(ngModel)]="productEdit.name" required>
            </div>
        </div>

        <div class="field">
            <label for="description" class="label">Description</label>
            <div class="control">
                <input class="input" 
                    type="text"
                    name="description"
                    placeholder="Product Description"
                    [(ngModel)]="productEdit.description">
            </div>
        </div>
            
        <div class="field">
            <label for="price" class="label">Price</label>
            <div class="control">
                <input class="input" 
                    type="text"
                    name="price"
                    placeholder="Price"
                    [(ngModel)]="productEdit.price" 
                    pattern="[1-9][0-9]*"
                    required>
            </div>
        </div>
 
      <button type="submit"
       class="button is-primary"
       [disabled]="!productForm.form.valid">Submit</button>
 
    </form>
</div>

